<section id="listings" class="py-4">
    <div class="container">
        <div class="row">
            {% if listings %}
            <h2>My Listings</h2>
            {% for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{listing.img_main.url}}" alt="">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <a href="{% url 'listing' listing.id %}"><h4 class="text-primary">{{listing.title}}</h4></a>
                        </div>
                        <hr>
                        <a href="{% url 'update_listing' listing.id %}" class="btn btn-info">Update</a>
                        <a href="{% url 'delete_listing' listing.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <div class='col-md-12'>
            <p>No Listings Available</p>
        </div>

        {% endif %}
    </div>
</section>