{% extends 'base.html' %}

{% block title %}
My Dashboard
{% endblock title %}

{% block content %}
<div class='forum-index text-center py-3'>
    <h1>{{user.profile}}'s Dashboard</h1>
</div>
{% if user.is_authenticated %}
<div class='container text-center my-3'>
    <a href="{% url 'update_profile' %}" class=" btn green-white mb-1">Update your Profile</a>
    <a href="#my-messages-db" class=" btn green-white mb-1">My Messages</a>
    <a href="#my-listings-db" class=" btn green-white mb-1">My Listings</a>
    <a href="#my-testimonials-db" class=" btn green-white mb-1">My Testimonials</a>
    <a href="#my-offers-db" class=" btn green-white mb-1">My Offers</a>
    <a href="#my-swaps-db" class=" btn green-white mb-1">My Swaps</a>
    <a href="#my-history-db" class=" btn green-white mb-1">My Swap History</a>
</div>

<div id='my-messages-db' class='forum-index text-center py-2'>
    <h3>My Messages</h3>
</div>
<div class='text-center my-3'>
    <a href="{% url 'pinax_messages:inbox' %}">
        <h1><i class="fa fa-envelope green"></i></h1>Go to My Messages
    </a>
</div>
<section id='my-listings-db'>
    <div class='forum-index text-center py-2 mb-2'>
        <h3>My Listings</h3>
    </div>
    <div class='container'>
        <div class="row">
            {% if listings %}
            {% for listing in listings %}

            <div class="col-lg-4 col-md-6 my-3">
                <div class="card listing-preview">
                    <img class="card-img-top house-img" src="{{listing.img_main.url}}" alt="No image">
                    <div class="card-body text-center">
                        <div class="listing-heading">
                            <a href="{% url 'listing' listing.id %}">
                                <h4 class="text-primary">{{listing.title}}</h4>
                            </a>
                        </div>
                        <div>{{listing.city}}, {{listing.region}}</div>
                        <hr>
                        <a href="{% url 'update_listing' listing.id %}" class="btn green-white">Update</a>
                        <a href="{% url 'delete_listing' listing.id %}" class="btn comment-btn">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div class='col-md-12'>
                <p>No Listings Available</p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class='container pb-4'>
        <a href="{% url 'add_listing' %}" class="btn comment-btn">Add New Listing</a>
    </div>
</section>

<div id='my-testimonials-db'>
    <div class='forum-index text-center py-2'>
        <h3>My Testimonials</h3>
    </div>
    {% if testimonials %}

    {% for testimonial in testimonials%}
    <div class='container pt-3'>
        <h6>{{testimonial.text}}</h6>
        <h6>{{testimonial.date}}</h6>
        <a href="{% url 'update_testimonial' testimonial.id %}" class="btn green-white">Update</a>
        <a href="{% url 'delete_testimonial' testimonial.id %}" class="btn comment-btn">Delete</a>
        <hr>
    </div>
    {% endfor %}
    {% endif %}
    <div class='container my-3'>
        <a href="{% url 'add_testimonial' %}" class="btn green-white mb-3">Add New Testimonial</a>
    </div>
</div>

<div id='my-offers-db'>
    <div class='forum-index text-center py-2'>
        <h3>My Open Swap Offers/Requests</h3>
    </div>
    <div class='container pt-2'>
        {%if offers%}
        <div>Swaps I've Offered</div>
        {% for offer in offers %}
        <div class="col-lg-4 col-md-6 my-3">
            <div class="card listing-preview">
                <img class="card-img-top house-img" src="{{offer.listing2.img_main.url}}" alt="No image">
                <div class="card-body text-center">
                    <div class="listing-heading">
                        <a href="{% url 'listing' offer.listing2.id %}">
                            <h4 class="text-primary">{{offer.listing2.title}}</h4>
                        </a>
                    </div>
                    <div>{{offer.listing2.city}}, {{offer.listing2.region}}</div>
                    <hr>
                    <a href="{% url 'update_offer' offer.id %}" class="btn green-white">Update</a>
                    <a href="{% url 'delete_offer' offer.id %}" class="btn comment-btn">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% elif requests %}
        <div>Swaps I've been Offered</div>
        {% for request in requests %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card requests-preview">
                <div>{{request.host1}} has offered to swap with you:</div>
                <img class="card-img-top house-img" src="{{request.listing1.img_main.url}}" alt="No image">
                <div class="card-body">
                    <div><a href="{% url 'listing' request.listing1.id %}">{{request.listing1.title}}</a></div>
                    <div>In exchange for : {{request.listing2.title}}</div>
                    <div>{{request.text}}</div>
                    <hr>
                    <a href="{% url 'accept_offer' request.id %}" class="btn green-white">Accept</a>
                    <a href="{% url 'reject_offer' request.id %}" class="btn comment-btn">Reject</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class='container text-center my-3'>No Offers/Requests</div>
        {% endif %}
    </div>
</div>
{% endif %}
<div id='my-swaps-db'>
    <div class='forum-index text-center py-2 my-4'>
        <h3>My Swaps</h3>
    </div>
    {% if swaps %}
        {% for swap in swaps %}
            {% if swap.host1 == user.profile %}
            <div class='container'>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card requests-preview">
                        <img class="card-img-top house-img" src="{{swap.listing2.img_main.url}}" alt="No image">
                        <div class="card-body">
                            <div>You swapped with {{swap.host2}}:</div>
                            <div><a href="{% url 'listing' swap.listing2.id %}">{{swap.listing2.title}}</a></div>
                            <div>In exchange for : {{swap.listing1.title}}</div>
                            <div>Swap approved on: {{swap.date_created}}</div>
                            <hr>
                            <a href="{% url 'add_review' swap.listing2.id %}" class="btn green-white">Write Review for this Home</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class='container'>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card requests-preview">
                        <div>You swapped with {{swap.host1}}:</div>
                        <img class="card-img-top house-img" src="{{swap.listing1.img_main.url}}" alt="No image">
                        <div class="card-body">
                            <div><a href="{% url 'listing' swap.listing1.id %}">{{swap.listing1.title}}</a></div>
                            <div>In exchange for : {{swap.listing2.title}}</div>
                            <div>Swap approved on: {{swap.date_created}}</div>
                            <hr>
                            <a href="{% url 'add_review' swap.listing1.id %}" class="btn green-white">Write Review for this Home</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div class='container my-3 text-center'>You haven't completed any swaps </div>
    {% endif %}
</div>


<div id='my-history-db'>
    <div class='forum-index text-center py-2 my-4'>
        <h3>My History</h3>
    </div>
    {% if history %}
        {% for his in history %}
            {% if his.host1 == user.profile %}
            <div class='container'>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card requests-preview">
                        <img class="card-img-top house-img" src="{{his.listing2.img_main.url}}" alt="No image">
                        <div class="card-body">
                            <div>Your swap offer with {{his.host2}} was rejected:</div>
                            <div>You requested: <a href="{% url 'listing' his.listing2.id %}">{{his.listing2.title}}</a></div>
                            <div>In exchange for : {{his.listing1.title}}</div>
                            <div>Swap rejected on: {{his.date_created}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class='container'>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card requests-preview">
                        <div>You rejected a swap request with {{his.host1}}:</div>
                        <img class="card-img-top house-img" src="{{his.listing1.img_main.url}}" alt="No image">
                        <div class="card-body">
                            <div>Swap offered: <a href="{% url 'listing' his.listing1.id %}">{{his.listing1.title}}</a></div>
                            <div>In exchange for : {{his.listing2.title}}</div>
                            <div>Swap rejected on: {{his.date_created}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div class='container my-3 text-center'>You don't have any history </div>
    {% endif %}
</div>

{% endblock content %}