{% extends 'base.html' %}

{% block title %}
My Dashboard
{% endblock title %}

{% block content %}
<div class='forum-index text-center py-3'>
    <h1>{{user.profile}}'s Dashboard</h1>
</div>
{% if user.is_authenticated %}
<div class='container text-center my-2'>
    <a href="{% url 'update_profile' %}" class=" btn green-white mb-1">Update your Profile</a>
    <a href="#my-messages-db" class=" btn green-white mb-1">My Messages</a>
    <a href="#my-listings-db" class=" btn green-white mb-1">My Listings</a>
    <a href="#my-testimonials-db" class=" btn green-white mb-1">My Testimonials</a>
    <a href="#my-offers-db" class=" btn green-white mb-1">My Offers</a>
    <a href="#my-swaps-db" class=" btn green-white mb-1">My Swaps</a>
    <a href="#my-history-db" class=" btn green-white mb-1">My Swap History</a>

</div>

<div id='my-messages-db' class='forum-index text-center py-2'>
    <h3>My Messages</h3>
</div>
<div class='my-3'>
    <a href="{% url 'pinax_messages:inbox' %}"><i class="fa fa-envelope"></i>Message Inbox</a>
</div>
<section id='my-listings-db'>
    <div class='forum-index text-center py-2 mb-2'>
        <h3>My Listings</h3>
    </div>
    <div class='container'>
        <div class="row">
            {% if listings %}
            {% for listing in listings %}

            <div class="col-lg-4 col-md-6 my-3">
                <div class="card listing-preview">
                    <img class="card-img-top house-img" src="{{listing.img_main.url}}" alt="No image">
                    <div class="card-body text-center">
                        <div class="listing-heading">
                            <a href="{% url 'listing' listing.id %}">
                                <h4 class="text-primary">{{listing.title}}</h4>
                            </a>
                        </div>
                        <div>{{listing.city}}, {{listing.region}}</div>
                        <hr>
                        <a href="{% url 'update_listing' listing.id %}" class="btn green-white">Update</a>
                        <a href="{% url 'delete_listing' listing.id %}" class="btn comment-btn">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div class='col-md-12'>
                <p>No Listings Available</p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class='container pb-4'>
        <a href="{% url 'add_listing' %}" class="btn comment-btn">Add New Listing</a>
    </div>
</section>

<div id='my-testimonials-db'>

    <div class='forum-index text-center py-2'>
        <h3>My Testimonials</h3>
    </div>
    {% if testimonials %}

    {% for testimonial in testimonials%}
    <div class='container pt-3'>
        <h6>{{testimonial.text}}</h6>
        <h6>{{testimonial.date}}</h6>
        <a href="{% url 'update_testimonial' testimonial.id %}" class="btn green-white">Update</a>
        <a href="{% url 'delete_testimonial' testimonial.id %}" class="btn comment-btn">Delete</a>
        <hr>
    </div>
    {% endfor %}
    {% endif %}
    <div class='container'>
        <a href="{% url 'add_testimonial' %}" class="btn green-white mb-3">Add New Testimonial</a>
    </div>
</div>

<div id='my-offers-db'>
    <div class='forum-index text-center py-2'>
        <h3>My Swap Offers/Requests</h3>
    </div>
    {%if offers%}
<div> you have an offer</div>
    {% elif requests %}
    <div> you have a request </div>
    {%else%}
    <div class='container my-3'>No Offers/Requests</div>
    {% endif%}
</div>

<div id='my-swaps-db'>
    <div class='forum-index text-center py-2'>
        <h3>My Swaps</h3>
    </div>
    {% if o_swaps %}
    {% for o_swap in o_swaps %}
<div> you have a swap</div>
{% endfor %}
    {% elif r_swaps %}
    {% for r_swap in r_swaps %}
    <div> you have a swap </div> 
    {% endfor %}
    {% else %}
    <div class='container my-3'>You haven't completed any swaps </div>
</div>
{% endif%}

<div id='my-history-db'>
    <div class='forum-index text-center py-2'>
        <h3>My History</h3>
    </div>
    {% if o_history %}
    {% for o_h in o_history %}
<div> you have a swap</div>
{% endfor %}
    {% elif r_history %}
    {% for r_h in r_history %}
    <div> you have a swap </div> 
    {% endfor %}
    {% else %}
    <div class='container my-3'>No history to show </div>
</div>
{% endif%}

{% else %}
<h3>Please login to view your content</h3>
{%endif%}


{% endblock content %}