<section id="requests" class="py-4">
    <div class="container">
        <div class="row">
            {% if requests %}
            <h2>My Pending Requests</h2>
            {% for req in requests %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card requests-preview">
                    <div>{{req.host1}} has offered to swap with you:</div>
                    <div class="card-body">
                        <div><a href="{% url 'listing' req.listing1.id %}">{{req.listing1.title}}</a></div>
                        <div>In exchange for : {{req.listing2.title}}</div>
                        <div>{{req.text}}</div>    
                        <hr>
                        <a href="#" class="btn btn-sm btn-info">Accept</a>
                        <a href="#" class="btn btn-sm btn-danger">Reject</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <div class='col-md-12'>
                <p>No Requests have been made</p>
            </div>

            {% endif %}
        </div>
    </div>
</section>