{% load static %}


<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand text-light home" href="{% url 'index' %}"><i class="fas fa-home"></i></a>
    <span class="navbar-brand flex-grow-1">Israel House Swap</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSwap"
      aria-controls="navbarSwap" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSwap">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'listings' %}">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'forum-index' %}">Forums</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
      <li class="nav-item">
        <div class="nav-link">
          Hello {{user}}</div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'dashboard' %}">My Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
    {% else%}
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'register' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

